<mat-card class="materias ">
    <mat-card-title class="title">Arquitetura de Computadores</mat-card-title>
    <mat-card-subtitle class="subtitle">18/10/2022 - Notas do 1o Bimestre</mat-card-subtitle>
</mat-card>
<mat-card class="materias ">
    <mat-card-title class="title">Programação Estruturada</mat-card-title>
    <mat-card-subtitle class="subtitle">13/10/2022 - Notas do 1o Bimestre</mat-card-subtitle>
</mat-card>
<mat-card class="materias ">
    <mat-card-title class="title">Robotica</mat-card-title>
    <mat-card-subtitle class="subtitle">13/10/2022 - Notas do 1o Bimestre</mat-card-subtitle>
</mat-card>