<mat-sidenav-container class="container">
    <img src="assets/imgs/unifenas-branco-small.png" alt="">
    <mat-sidenav fixedInViewport="true" mode="side" class="sidenav" opened fixedTopGap="0">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    trending_up
                </i>
                Avaliação
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    notifications
                </i>
                Aviso
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    account_box
                </i>
                Cadastro
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    today
                </i>
                Calendario
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    book
                </i>
                Disciplina
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    attach_money
                </i>
                Financeiro
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    my_library_books
                </i>
                Secretaria Virtual
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    vpn_key
                </i>
                Mudar Senha
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>