.sidenav{
    background-color: rgb(25, 77, 156);
    color: white;
    width:240px;
}
.nav-list a{
    color: white;
}
.nav-list a:hover{
    background-color: #503e3e;
}
.img-logo{
    position: relative;
    margin: 25px;
    cursor: pointer;
}
.dropmenu {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    background-color: #131b5e;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(245, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
.dropdown-content a:hover {
    background-color: #503e3e
}

.dropdown:hover .dropdown-content {
    display: block;
}
.material-icons, .icon-text {
    vertical-align: middle;
  }
.dropdown-content a {
    font-size: 0.7rem;
    text-align: Left;
    padding-left:30px;
}
.dropdown-content i {
    padding-right:2px;
}
.nav-list i{
    padding-right:19px;
}
.content{
    padding: 20px;
    background-color: white;
    
}
.dropdown::before{
    content:'';
    position: absolute;
    top:25px;
    left:212px;
    width:10px;
    height: 2px;
    background: white;
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.5s;
}
.dropdown::after{
    content:'';
    position: absolute;
    top:25px;
    left:219px;
    width:10px;
    height: 2px;
    background: white;
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.5s;
}
