<mat-card class="materias ">
    <mat-card-title class="title">Arquitetura de Computadores</mat-card-title>
    <mat-card-subtitle class="subtitle">Turma:2022-72-02-A - Curricular</mat-card-subtitle>
</mat-card>
<mat-card class="materias ">
    <mat-card-title class="title">Atividade de extensão</mat-card-title>
    <mat-card-subtitle class="subtitle">Turma:2022-72-02-A - Curricular</mat-card-subtitle>
</mat-card>
<mat-card class="materias ">
    <mat-card-title class="title">Calculo para computação</mat-card-title>
    <mat-card-subtitle class="subtitle">Turma:2022-72-02-A - Curricular</mat-card-subtitle>
</mat-card>